@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.saira{
    font-family: "Saira", serif;
}

.active {
    background-color: white !important;
    color: #0e864c !important;
}

/* html{
    overflow-y: scroll;
} */